[submodule "vvmjit"]
	path = vvmjit
	url = https://github.com/vaporyco/vvmjit
	branch = master
[submodule "test/tests"]
	path = test/jsontests
	url = https://github.com/vaporyco/tests.git
	branch = develop
[submodule "hera"]
	path = hera
	url = https://github.com/vwasm/hera
	branch = vwasm-evolve

